In [1]:
import pandas as pd
import glob

### To split

In [4]:
for i, chunk in enumerate(pd.read_csv('../data/lightcurves/nontransient_lightcurves.csv',chunksize=1100000)):
    chunk.drop('Unnamed: 0',axis=1,inplace=True)
    chunk.to_csv('../data/lightcurves/nontransient_lightcurves_{}.csv'.format(i),index=False)

In [9]:
df = pd.read_csv('../data/lightcurves/nontransient_lightcurves_0.csv')
print(df.keys())
df

Index(['ID', 'MJD', 'Mag', 'Magerr', 'RA', 'Decl'], dtype='object')

                   ID          MJD    Mag  Magerr        RA      Decl
0        1.121012e+12  56251.16733  18.09    0.12  33.72388  19.89408
1        1.121012e+12  56251.17237  18.11    0.12  33.72390  19.89372
2        1.121012e+12  56251.17748  18.22    0.13  33.72389  19.89395
3        1.121012e+12  56251.18261  18.22    0.13  33.72386  19.89393
4        1.121012e+12  56263.11047  18.20    0.13  33.72382  19.89405
...               ...          ...    ...     ...       ...       ...
1099995  1.126003e+12  55851.29734  19.45    0.20   8.82765  26.78947
1099996  1.126003e+12  55851.31452  20.33    0.32   8.82780  26.78989
1099997  1.126003e+12  55889.23230  19.57    0.22   8.82739  26.78998
1099998  1.126003e+12  55889.24011  20.58    0.37   8.82771  26.79009
1099999  1.126003e+12  56186.43549  19.61    0.19   8.82740  26.79010

[1100000 rows x 6 columns]

### To join

In [ ]:
base_filename = "../data/lightcurves/nontransient_lightcurves"
filename_parts = glob.glob(base_filename+"_*")
print(filename_parts)

In [ ]:
df = pd.DataFrame()
for i in filename_parts:
    df_temp = pd.read_csv(i)
    df = df.append(df_temp,ignore_index=True)
df = df.drop(columns=['Unnamed: 0'])
df.to_csv(base_filename+".csv")

In [ ]:
pd.read_csv(base_filename+".csv").drop(columns="Unnamed: 0")